.vscode
main
node_modules/
build/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

azure-k3s-cluster/backend.hcl
IMPLEMENTATION_PLAN.md
project_descriptions_requirements/
